p
{
    font-weight: 500;
    font-size: medium;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-style: oblique;
    font-stretch: narrower;
    font-family: 'Times New Roman', Times, serif;
}
article{
    color: brown;
    color: rgb(rgb(160, 7, 7), rgb(15, 230, 15), rgb(16, 16, 90))

}
